#header{
    width:100%;
  height:600px;
  background:red;
  position:absolute;
}
#sigla
{
    margin-top: 1% ;
  height:130px;
  
      margin-left:35%;
  margin-right:35%;
}
#ASII
{
     
  width:100%;
  display:block;
}
#titlu {
    color:white;
      width:100%;
  text-align:center;
    margin: 0 auto;
  
  font-size:500%;
}
#slogan{
    color:white;
  width:100%;
  text-align:center;
    margin: 0 auto;
  font-size:250%;
  
}

#gallery
{
  position:absolute;
  margin-top:650px;
}
body {
    margin:0;
  padding:0;
}

#sigla img{height:130px;}